<section class="bm__import-app__container">
  <div class="bm__title">
    <h1>Bulk Importer</h1>
  </div>

  {{!-- File Picker --}}
  <div class="bm__import--file-picker">
    <h3>File Picker</h3>
    {{!-- Add chosen files here --}}
    <div class="bm__import__chosen-items">
      {{#each this.chosen}}
        <li class="bm__li">
          {{#with this}}
          <span class="bm__import--remove-choices">❌</span>
          <span 
            class="bm__import--chosen"
            id="{{this.name}}"
          >
            {{this.name}}
          </span>
          {{/with}}
        </li>
      {{/each}}
    </div>

    <input type="file" id="bm__import--files" name="files" multiple>
  </div>

  {{!-- Selector --}}
  <div class="bm__import-selector__container">
    <div class="bm__import--arrow">🠒</div>

    <select name="bm__import-type" id="bm__import--type">
      {{#each this.documentTypes}}
      {{#with this }}
        <option value="{{this}}">{{this}}</option>
      {{/with}}
      {{/each}}
    </select>

    <button class="bm__btn" type="button" id="bm__import--queue">
      Queue
    </button>
    <button class="bm_btn" type="button" id="bm__import--reset">
      Remove All
    </button>
  </div>

  {{!-- Selections --}}
  <div class="bm__import--view">
    <h3>Selected</h3>

    <div class="bm__import__selected-items">
      {{!-- Ready to Import Items Here --}}
      {{#each this.selected}}
      {{#notIsEmpty this}}

        <h4>{{@key}}</h4>
        {{#each this}}
          <li>
            <span class="bm__import--remove-selected">❌</span>
            <span 
              class="bm__import--selected"
              id="{{this.name}}"
            >
              {{this.name}}
            </span>  
          </li>
        {{/each}}

      {{/notIsEmpty}}
      {{/each}}
    </div>
  </div>

  {{!-- Footer --}}

  <footer class="bm__import__footer">
    <button class="bm__btn" type="button" id="bm__import--confirm">
      <i class="fas fa-file-import"></i> Import
    </button>
    
    <button class="bm__btn" type="button" id="bm--cancel">
      <i class="fas fa-times"></i> Cancel
    </button>
  </footer>

</section>