{{!-- Render Data --}}
{{#*inline "insertTab"}}
  <fieldset class="bm__display">
    <ul class="bm__ul">
      {{#each this.folders}}
      <li class="bm__li">
        <span class="bm__folder">
          <input 
            type="checkbox" 
            class="bm__check__folder"
            id="{{this.id}}"
            data-id="{{this.id}}"
            data-type="{{this.type}}"
            data-name="{{this.name}}"
          >
          <label for="{{this.id}}">
            <button type="button" class="bm__btn--collapsible">
              {{this.name}}
            </button>
          </label>
        </span>

        <div class="bm__content">
          {{#each this.content}}
          {{#with this}}
            <span class="bm__entity">
              <input 
                type="checkbox" 
                class="bm__check"
                id="{{this.id}}"
                data-id="{{this.id}}"
                data-type="{{@../../key}}"
                data-name="{{this.name}}"
              >
              <label for="{{this.id}}"> 
                {{this.name}}
              </label>

              <br />
            </span>
          {{/with}}
          {{/each}}
        </div>
      </li>
      {{/each}}

      <li class="bm__li">
        <div class="bm__content bm--show">
          {{#each this.orphans}}
          {{#with this}}
            <span class="bm__entity bm--no-padding">
              <input 
                type="checkbox" 
                class="bm__check"
                name="{{this.id}}" 
                id="{{this.id}}"
                data-id="{{this.id}}"
                data-name="{{this.name}}"
                data-type="{{@../key}}"
              >
              <label for="{{this.id}}"> 
                {{this.name}}
              </label>

              <br />
            </span>
          {{/with}}  
          {{/each}}
        </div> 
      </li> <!-- End of orphans-->

    </ul>
  </fieldset>
{{/inline}}


{{!-- Search --}}
{{#*inline "insertSearch"}}
  <div class="bm__search-wrapper">
    <div class="bm__search-area">
      <i class="bm__search-fa fas fa-search"></i>
      <input name="search" type="text" placeholder="Type to Search...">
    </div>
    <hr >
  </div>
{{/inline}}


{{!-- Add Select All and Deselect All --}}
{{#*inline "insertSelector"}}
  <div class="bm__selector-area">
    <button class="bm__btn bm-selector-sa" type="button">
      Select All
    </button>
    <button class="bm__btn bm-selector-dsa" type="button">
      De-Select All 
    </button>
  </div>
{{/inline}}


{{!-- Main Content --}}
<form class="flexcol" autocomplete="off">
  <nav class="sheet-tabs tabs">
    <a class="item active" data-tab="actors"><i class="fas fa-users"></i> Actors</a>
    <a class="item" data-tab="journal"><i class="fas fa-book"></i> Journals</a>
    <a class="item" data-tab="items"><i class="fas fa-suitcase"></i> Items</a>
    <a class="item" data-tab="macros"><i class="fas fa-code"></i> Macros</a>
    <a class="item" data-tab="scenes"><i class="fas fa-map"></i> Scenes</a>
    <a class="item" data-tab="tables"><i class="fas fa-th-list"></i> RollTables</a>
    <a class="item" data-tab="cards"><i class="fas fa-id-badge"></i> Cards</a>
    <a class="item" data-tab="playlists"><i class="fas fa-music"></i> Playlists</a> 
  </nav>

  {{!-- Add Search --}}
  {{> insertSearch}}

  {{!-- Add Sections --}}
  <section class="bm__data">
    {{#each this}}
    <section class="tab" data-tab="{{@key}}">
      {{> insertSelector}}
      {{> insertTab}}
    </section>
    {{/each}}
  </section>

  {{!-- Footer and Buttons --}}
  <footer class="bm__footer">
    {{!-- Move Button --}}
    <button class="bm__btn" type="button" id="bm-move">
      <i class="fas fa-truck-moving"></i> Move
    </button>

    {{!-- Delete Button --}}
    <button class="bm__btn" type="button" id="bm-delete">
      <i class="fas fa-trash"></i> Delete
    </button>

    {{!-- Cancel Button --}}
    <button class="bm__btn" type="reset" id="bm-cancel">
      <i class="fas fa-times"></i> Cancel
    </button>

  </footer>

</form>